.Beat {
    flex: 0.3 0 auto;
    width: 18rem;
    text-align: center;
    /*text-align: center is for centering elements within each beat*/
    margin: 0.1rem;
}

.Beat-body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.Beat-body::-webkit-scrollbar {
    display: none;
}

.Beat-header {
    font-size: 2rem;
    font-weight: bold;
}

.BeatItem {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

.BeatPlus {
    margin-left: auto;
    margin-right: auto;
}

.ImageContainer {
    position: relative;
}

.BeatItemDelete {
  position: absolute;
  background-color: darkred;
  color: #777;
  font: 1em arial, sans-serif;
  right: 0em;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: -0.4em;
}