.MyNavBar {
    flex: 1 1 10%;
}

.NavBarButton {
	font-family: Roboto, sans-serif;
	font-size: 1em;
}

.NavBarVertical {
	display: flex;
	flex-direction: column;
}

.Center {
	position: absolute;
	left: 44%;
}

a:hover {
   color: #FFF;
   text-decoration: none;
}

button {
	margin-right: 1em;
}

#helpBtn {
	position: absolute;
	left: 93%;
}