.TrackTimeline {
    flex: 1 1 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-x: scroll;
    border: 1px solid #4395FF;
}