.MediaModal {
	font-family: Roboto, sans-serif;
	font-size: 1.2em;
}

.BeatIndicator {
	font-weight: bold;
	margin: auto;
}

.MediaModal-line {
	border-bottom: 1px solid #2EADE8;
	width: 100%;
}

.MediaModal-button {
	text-align: center;
}

.Footer {
	height: auto;
}